.list-group-item__hover .list-group-item__action-icons {
  display: none;
}

.list-group-item__hover:hover .list-group-item__action-icons {
  display: inline;
  cursor: pointer;
}

.view-clipboard_text{
  display: none;
  cursor: pointer;
}

.view-clipboard:hover .view-clipboard_text {
  display:unset;
}