fastapi
uvicorn[standard]

pydantic
pydantic-settings

pymongo
dnspython

python-dotenv

pandas
numpy

openpyxl
xlsxwriter
xlrd

python-multipart
email-validator

passlib[bcrypt]

fpdf2

python-telegram-bot